{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="my-tasks-list">
            <h1>My Tasks</h1>
            <table>
                <thead>
                    {% if task_list %}
                        <tr>
                            <th>Name</th>
                            <th>Start date</th>
                            <th>End date</th>
                            <th>Is completed</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    {% for task in task_list %}
                        <tr>
                            <td>{{task.name}}</td>
                            <td>{{task.start_date|date:"M d, Y" }}</td>
                            <td>{{task.due_date|date:"M d, Y" }}</td>
                            <td>
                                {% if task.is_completed %}
                                    Done
                                {% else %}
                                    {{ user.task.is_completed|default_if_none:""}}
                                    <form method="post" action="{% url 'complete_task' task.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                        </tbody>
                    {% empty %}
                        <p>You have no tasks</p>
                    {% endfor %}
                </table>
            </div>
        </main>
{% endblock content %}