{% extends 'base.html' %}
{% block content %}
    {% load markdownify %}

    <main>
        <div class="project-detail">
            <h1>{{ project.name }}</h1>
            <p>{{ project.description|markdownify }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            <table>
                <thead>
                    {% if project.tasks.all %}
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    {% endif %}
                </thead>
                <tbody>
                    <tr>
                        {% for task in project.tasks.all %}
                            <td>{{task.name}}</td>
                            <td>{{task.assignee}}</td>
                            <td>{{task.start_date|date:"M d, Y"}}</td>
                            <td>{{task.due_date|date:"M d, Y"}}</td>
                            {% if task.is_completed %}
                                <td>yes</td>
                            {% else %}
                                <td>no</td>
                            {% endif %}
                            </tr>
                            </tbody>
                        {% empty %}
                            <p>This project has no tasks</p>
                        {% endfor %}
                    </table>
                </div>
            </main>
{% endblock content %}