{% extends 'base.html' %}

{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <p>
                <a href="{% url 'create_project' %}">Create a new project</a>
            </p>
            <table>
                {% if project_list %}
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    <tr>
                        {% for project in project_list %}
                            <td><a href="{% url 'show_project' project.pk %}">{{ project.name}}</a></td>
                            <td>{{project.tasks.all|length}}</td>
                            </tr>
                            </tbody>
                        {% empty %}
                            <p>You are not assigned to any projects</p>
                        {% endfor %}
                    </table>
                </div>
            </main>
{% endblock content %}
